@font-face {
  font-family: "akkurat";
  src: url("/font/Akkurat.woff") format("woff");
}

*,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "akkurat";
  color: rgba(240, 235, 210, 1);
}

.divRot {
  position: fixed;
  display: inline-flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
  /* background-color: red;
  opacity: 0.5; */
}

.hidden {
  display: none !important ;
}

#level {
  margin-top: 0.3em;
  margin-left: 0.5em;
  font-size: 2em;
}

#uiLevel {
  transform: translate(-50%, -50%);
  margin-top: 2.6%;
  margin-left: 35%;
  font-size: 1em;
}

.divRestart {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 30%;
  /* background-color: green;
  opacity: 0.5; */
}

#restart {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.3em;
  margin-left: 0.5em;
  font-size: 2em;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

#playerName {
  font-size: 1em;
  margin-left: 1em;
}

.divPlayer1 {
  position: fixed;
  top: 0;
  left: 15%;
  width: 70%;
  height: 100%;
  /* background-color: blue;
  opacity: 0.5; */
}

#arrowLeft {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  left: 5%;
  cursor: pointer;
}

#arrowRight {
  position: relative;
  transform: translate(-100%, -50%);
  top: 50%;
  left: 91%;
  cursor: pointer;
}

.divForms {
  position: fixed;
  top: 0;
  left: 85%;
  width: 15%;
  height: 100%;

  /* background-color: orange;
  opacity: 0.5; */
}

#octo {
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  cursor: pointer;
  /* background-color: red;
  opacity: 0.5; */
}

#square {
  top: 25%;
  left: 0;
  width: 100%;
  height: 25%;
  cursor: pointer;
  /* background-color: blue;
  opacity: 0.5; */
}

#triangle {
  top: 50%;
  left: 0;
  width: 100%;
  height: 25%;
  cursor: pointer;
  /* background-color: green;
  opacity: 0.5; */
}

#line {
  top: 75%;
  left: 0;
  width: 100%;
  height: 25%;
  cursor: pointer;
  /* background-color: purple;
  opacity: 0.5; */
}

.numForms {
  transform: translate(-50%, -50%);
  margin-left: 65%;
  margin-top: 50%;
  font-size: 1em;
}
